body{
    margin: 0px;
    padding: 0px;
    background-color:#17153b;
}
nav{
    
    background-color: #c8acd6;
    padding: 5px 20px 10px 10px; 
}
.items{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    list-style-type: none;
    padding: 0px 10px 0px 10px;
    
}
.arto{
    color: #2e236c;
   
    border-radius: 50px;
    float: left;
    font-size: 2.1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 5px 5px;
    padding: 10px 10px 10px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    width: 40px;
    height: 40px;
    float: left;
    padding: 5px;
    border-radius: 20px;
}

 a{
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3em;
  font-weight:90px;
  padding:5px 30px 10px 30px; 
  color: #433d8b;
}
input{
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: #433d8b;
   border: white;
    padding: 5px 15px 5px 20px;
    border-radius: 9px;
    box-shadow: 2px 2px 3px;
}
.items a:hover{
    
    color: rgba(9, 23, 37);
    border-radius: 10px;
    border-bottom: 1.5px solid black;
    
  
}
input:hover{
    background-color: #08089b;
    transition:3ms;
    text-shadow: black 2px 2px;
    box-shadow:black 2px 2px;
}
input:active{
    background-color: rgba(0,0, rgb(236, 236, 244), 0.5);
    
}
.line
{
 
    color: aliceblue;
    font-weight: bold;
    word-spacing: 5px;
    line-height: 50px;
}
.sml{
    font-size:1.5em;
    color: #c8acd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

}
.side{
 
    width: 800px;
    height: 400px;
    padding: 30px 30px 20px 30px;
   

}
.reg{
    color: aliceblue;
    background-color:#08089b;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 5px 5px 5px 10px;
    border: none;

}
.reg:hover{
    background-color: rgba(0, 0,0, 0.5);
    color: #c8acd6;
    transition: 30ms; 
}
.reg:active{
    background-color: rgba(240, 237, 237, 0.3);
    color: #c8acd6;
}
.bar{
    background-color: rgba(142, 110, 152, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 1.3em;
    padding: 5px 10px 5px 30px;
}
.course li{
    border: 1px solid black;
    padding: 10px;
    background-color: #c8acd6;
    border-radius: 15px;

}

.course ul li a{

color: aliceblue;
padding: 20px 10px 10px 40px;
margin: 10px;

}
.co{
   
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    gap: 20px;
    padding: 10px;
    transition: 1s;
   
}

.a{
 
    border-radius: 20px;
    padding: 20px 10px 20px 40px;
    height: 200px;
    width:250px
    
}
    .a:hover{
        color: rgba(0, 0,0, 0.5);
        height: 210px;
        width: 260px;
        transition: 0.4s;
        

    }
  .li:hover{
    height: 210px;
    width: 260px;
    transition: 1s;
   }
   footer{
    background-color: rgba(0, 0,0, 0.5);
    color: aliceblue;
    display: grid;
    height: 500px;

   }
  
   .lst{
    padding-top: 100px;
    list-style-type:none;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: end;
    align-items: center;
    gap:30px
    

   }
   .lst h1{
    font-size: 2.5em;
    color:#ffffff
   }
   .img{
    background-color: #ece3f1;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .img li{
    list-style-type: none;
    display: inline-block;
    
   }
   .img img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   }
   .img p{
    color: #17153b;
    font-family: 2.5em;
   }
 .img img:hover{
    border: 1px rgba(255, 255, 255, 0.5);
    transition: 1s;
 }
 .img img:active{
    background-color:  rgba(255, 255, 255, 0.5);
 }
    